
body {
    
    background: linear-gradient(to top, #ffffff, #4d84e2);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: white;
  }
.main{
    text-align: center;
    margin-bottom:100px;
    font-family: 'Rubik', sans-serif;
    border-left:1px solid rgb(55, 54, 54);
    padding: 20px;
    margin-left:750px ;
    background-color: #ffffff;
    height:1000px;
    margin-top:90px ;
    
}
label{
    text-align: left;
    padding:20px;
    color:black;
}
.h22 a{
    text-decoration: none;
    color: black;
    font-size:12px;
    text-align: right;
}
.h22{
    margin-left: 320px;
    margin-bottom:20px;
}
input{
    text-decoration: none;
    width: 420px;
    border-radius: 10px;
    height:45px;
    border:1px solid rgb(55, 54, 54);
    padding-left: 5px;
}
input::after{
    border:1px solid #4d94e2
}
.logbutt{
    text-decoration: none;
    width: 420px;
    border-radius: 10px;
    height:45px;
    border:1px solid whitesmoke;
    color:white;
    background-color: #4d84e2;
}

.all{
    display:flex;
    flex-direction:column;
    text-align: left;
}
img{
    margin-bottom: -700px;
    margin-left:150px;
}
.all{
    border:1px solid white;
    width: 1500px;
    height:800px;
    background-color: white;
    border-radius: 10px;
}
.signUp{
    color:black;
    padding: 30px;
}
.signUp .bt{
    all:unset;
    text-decoration: underline;
    color: #4d84e2;
}
.fot{
    color: black;
}